/* html {
    position: relative;
    min-height: 100%;
} */

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
}

.alert {
    position: relative;
    margin: 0;
}


/* #moreinfo {
    background-image: linear-gradient(to right, #0000cc, #0000ff);
    border: none;
    border-radius: 30px;
} */


/*-----Search bar----- */

.searchbar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 35px;
    height: 35px;
    background: #DEDEDE;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #DEDEDE;
    padding: 5px;
}

.searchbar input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 0.9em;
    border-radius: 20px;
    padding: 0 18px;
    background-color: #DEDEDE;
}

.searchbutton {
    box-sizing: border-box;
    padding: 0px;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 0.9em;
    transition: all 1s;
}

.searchbar:hover {
    width: 220px;
    cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.searchbar:hover input {
    display: block;
}

.searchbar:hover .searchbutton {
    background: #07051a;
    color: white;
}


/*-----Jumbotron----- */

.jumbotron {
    /* background: linear-gradient(rgba(70, 70, 70, 0.35), rgba(70, 70, 70, 0.35)), fixed, url(https://images.unsplash.com/photo-1563299796-17596ed6b017?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9); */
    background: linear-gradient(rgba(70, 70, 70, 0.35), rgba(70, 70, 70, 0.35)), fixed, url(https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    margin-bottom: 0px;
}

.jumbotron {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

#mainNavbar {
    background-color: #222222;
}

.navbar-brand {
    font-size: 23px;
}

.nav-item {
    font-size: 16.5px;
}


/*-----Sign In Form-----*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* ----- Register Form----- */

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-register .form-control:focus {
    z-index: 2;
}

.form-register input[name="firstName"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[name="lastName"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}


/*  ------------------------  */

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

#search-button:focus {
    outline: none;
}

@media (min-width: 768px) {
    #testing {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
}


/* hr.new1 {
    border: 0.7px solid #E5E5E5;
} */


/* Google Maps */

#map {
    height: 400px;
    width: 100%;
}

.checked {
    color: orange;
}