.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

#search-button:focus {
    outline: none;
}

@media (min-width: 768px) {
    #testing {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
}